<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{base :: head(title = 'Information du compte')}">
</head>

<body>

    <nav th:replace="~{base :: navigation}"></nav>
    <div class="container">
        <div> <strong><b th:text="${execInfo.now.time}"></b></strong></div>
        <div class="row">
            <div class="col-md-6">
                <p> <br /></p>
                <form name="f" th:action="@{/member/infos/{id}(id=${memberForm.id})}" th:object="${memberForm}"
                    method="post" class="form-signin">

                    <fieldset>
                        <h3>Modifier informations</h3>
                        <hr>
                        <label for="firstName">Nom</label>:
                        <input type="text" id="firstName" class="form-control" th:field="*{firstName}"
                            placeholder="Nom" />
                        <label for="lastName">Prénom</label>:
                        <input type="text" id="lastName" class="form-control" th:field="*{lastName}"
                            placeholder="Prenom" />

                        <label for="civilite">Civilté</label>
                        <select id="civilite" class="form-control" th:field="*{civilite}">
                            <option th:each="p:${listCivilite}" th:value="${p}" th:text="${p}"></option>
                        </select>
                        <label for="telephone">Téléphone</label>
                        <input type="text" id="telephone" name="telephone" class="form-control"
                            th:field="*{telephone}" />
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" th:field="*{email}" />
                        <label for="password">Password</label>:
                        <input type="password" id="password" name="password" class="form-control" th:field="*{password}"
                            placeholder="Password complet doit contenir entre 4 et 50 carractere" />

                        <label for="enable">Status</label>
                        <select id="enabled" class="form-control" th:field="*{enabled}">
                            <option th:each="p:${listEnable}" th:value="${p}" th:text="${p}"></option>
                        </select>
                        <div class="form-actions">
                            <br />
                            <a th:href="@{/member}" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Retour</a>
                            <button type="submit" class="btn btn-success" style="margin-left:80px;"><i
                                    class="fa fa-save"></i>Continuer</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-6">
                <p> <br /><br /><br /></p>
                <div th:if="${param.success}">
                    <div class="alert alert-success" style="text-align: center">
                        Mise a jour reussi!
                    </div>
                </div>
                <hr />
                <div class="list-group">
                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">Nom d'utilisateur</h4>
                        <p class="list-group-item-text" th:text="${memberForm.firstName}"></p>
                    </span>
                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">Prenom</h4>
                        <p class="list-group-item-text" th:text="${memberForm.lastName}"></p>
                    </span>

                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">Civilté</h4>
                        <p class="list-group-item-text" th:text="${memberForm.civilite}"></p>
                    </span>
                     <span class="list-group-item">
                        <h4 class="list-group-item-heading">Email</h4>
                        <p class="list-group-item-text" th:text="${memberForm.email}"></p>
                    </span>
                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">Téléphone</h4>
                        <p class="list-group-item-text" th:text="${memberForm.telephone}"></p>
                    </span>
                      <span class="list-group-item">
                        <h4 class="list-group-item-heading">Status</h4>
                        <p class="list-group-item-text" th:text="${memberForm.enabled}"></p>
                    </span>
                </div>
            </div>


        </div>
    </div>



    <div th:replace="~{fragments/jsfooter :: body}"></div>

</body>

</html>