<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{base :: head(title = 'Connexion')}">

</head>

<body>
    <nav th:replace="~{base :: navigation}"></nav>

    <div class="container span40">
        <div> <strong><b th:text="${execInfo.now.time}"></b></strong></div>
        <br>
        <br>
        <div class="row">
            <div id="logreg-forms">
                <div class="panel panel-primary">

                    <div class="panel-body">

                        <div th:if="${param.success}">
                            <div class="alert alert-info">
                                Vous avez réussi à demander une nouvelle réinitialisation de mot de passe!
                            </div>
                        </div>

                        <form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post">
                            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color: white; color: #333;">
                                            <i class="glyphicon glyphicon-envelope" ></i>
                                        </span>
                                    <input id="email" class="form-control" placeholder="email address" th:field="*{email}" />
                                </div>
                                <p class="error-message" style="background-color: #f2dede;margin-top: 5px;" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                            </div>
                            <button class="btn btn-success btn-block" style="margin-bottom: 10px;" type="submit">Réinitialiser le mot de passe</button>
                            <a th:href="@{/login}" id="cancel_reset"><i class="fa fa-arrow-left" style="color: white"></i>Retour</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <div th:replace="~{fragments/jsfooter :: body}"></div>

</body>

</html>