<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{base :: head(title = 'Connexion')}">

</head>

<body>
    <nav th:replace="~{base :: navigation}"></nav>

    <div class="container span40">
        <div> <strong><b th:text="${execInfo.now.time}"></b></strong></div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-3 span4">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3>
                            Réinitialiser le mot de passe</h3>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div th:if="${error}">
                                <div class="alert alert-danger">
                                    <span th:text="${error}"></span>
                                </div>
                            </div>

                            <form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">
                                <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>

                                <input type="hidden" name="token" th:value="${token}" />

                                <div class="form-group">
                                    <span class="input-group-addon">
                                        </span>
                                    <input id="password" class="form-control" placeholder="mot de passe" type="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')}? 'has-error':''" />
                                </div>
                                <p class="error-message" th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>

                                <div class="form-group">
                                    <input id="confirmPassword" class="form-control" placeholder="Confirmez le mot de passe" type="password" th:field="*{confirmPassword}" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''" />
                                    <p class="error-message" th:each="error: ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-success">
                                            Réinitialiser le mot de passe</button>
                                </div>
                            </form>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-block" style="color: white;" th:href="@{/registration}" type="button">
                                    <i class="fas fa-user-plus" style="color: white;"></i> Créer un nouveau compte</a>
                                <br/>
                                <a class="btn btn-primary btn-block" style="color: white;" th:href="@{/login}" type="button">
                                    <i class="fas fa-sign-in-alt"></i> Se Connecter</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>




    <div th:replace="~{fragments/jsfooter :: body}"></div>

</body>

</html>